@use "../../styles/abstracts/variables" as *;
@use "sass:map";

.container {
  width: 100%;
  max-width: 150px;
  height: 32px;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%);
  overflow: hidden;
}
