@use "../../styles/abstracts/variables" as *;
@use "sass:map";

.container {
  width: 100%;
  background-color: white;
  padding: 1.8rem 1.4rem;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    place-self: center;
    width: 370px;
    grid-column: 1;
  }

  @media (min-width: 1024px) {

    grid-column: 2;
    grid-row: 1 / span 3;
    align-self: flex-start;
  }

  h3 {
    color: $red;
    font-size: map.get($font-sizes, "xl");
    margin-bottom: 0.6rem;
  }

  .emptyCart {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      color: $rose-400;
      font-weight: map.get($font-weights, "semibold");
    }
  }
}
