@use "../../styles/abstracts/variables" as *;
@use "sass:map";

.container {
  display: flex;
  flex-direction: column;

  .orderTotal {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    .totalAmount {
      font-size: map.get($font-sizes, "xl");
      font-weight: map.get($font-weights, "bold");
    }
  }

  .carbonNeutralContainer {
    margin-bottom: 1.2rem;
    background-color: $rose-100;
    border-radius: 0.4rem;
    font-size: map.get($font-sizes, "s");
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1rem;

    .highlightedText {
      font-weight: map.get($font-weights, "semibold");
    }

    .carbonNeutralIcon {
      width: 20px;
      height: auto;
      margin-right: 0.5rem;
    }
  }

  .confirmButton {
    height: 46px;
    border: none;
    border-radius: 5rem;
    color: $rose-100;
    background-color: $red;
    font-weight: map.get($font-weights, "semibold");
    font-size: map.get($font-sizes, "m");
    cursor: pointer;

    &:hover {
      background-color: $rose-400;

    }
  }
}

.confirmModal {
  width: 100%;
  display: flex;
  flex-direction: column;

  .title {
    margin-bottom: 1rem;
    width: 50%;
    font-size: map.get($font-sizes, "xxl");
  }

  .description {
    color: $rose-400;
    margin-bottom: 1.8rem;
  }

  .productList {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 1rem;

    .orderTotal {
      position: sticky;
      bottom: 0;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

  }


}